<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us</title>
    <link rel="stylesheet" href="../styles/aboutUS.css" />
    <link rel="icon" href="../assets/Exam-PNG-File.png" type="image/x-icon" />
  </head>
  <body>
    <div class="main-container">
      <!-- <img src="admin_bg.jpg" loading="lazy" alt="" class="admin-img" /> -->
      <h1>
        <i
          class="fa-brands fa-studiovinari"
          style="
            color: white;
            font-size: 50px;
            margin-right: 10px;
            margin-top: 5px;
            margin-left: 10px;
          "
        ></i>
        <a
          href="../views/home.html"
          style="
            color: black;
            text-decoration: none;
            margin-top: 12px;
            position: absolute;
          "
        >
          DevTestHub</a
        >
      </h1>
      <h1 class="heading">
        <a href="../views/home.html" style="color: black">Online Exam</a>
      </h1>
      <nav class="navbar">
        <a href="../views/home.html" class="nav-tags">Home</a>
        <a href="../views/addsub.html" class="nav-tags">Add Sub</a>
        <a href="../views/addques.html" class="nav-tags">Add Ques</a>
        <a href="../views/questions.html" class="nav-tags">View Ques</a>
        <a href="../views/addstudent.html" class="nav-tags">Add Studs</a>
        <a href="../views/exam.html" class="nav-tags">Exam Settings</a>
        <a href="../views/home.html" class="nav-tags">Logout</a>
        <a href="../views/aboutUS.html" class="nav-tags">About Us</a>
      </nav>

      <div class="admin-login">
        <h1>About Us</h1>
        <br /><br />
        <p>
          Welcome to [Your Exam Website's Name], the premier destination for web
          development exams designed to elevate your skills and knowledge in the
          ever-evolving field of web development. Our platform is dedicated to
          providing comprehensive, reliable, and engaging assessments to help
          you master the art and science of web development.
        </p>
        <br /><br />
        <h2>Our Mission:</h2>
        <br />
        <p>
          At [Your Exam Website's Name], our mission is to support aspiring and
          seasoned web developers in their learning journeys by offering
          high-quality, structured, and practical online exams. We aim to foster
          a deep understanding of web technologies and best practices, ensuring
          our users are well-prepared for real-world challenges.
        </p>
        <br /><br />
        <h2>What We Offer:</h2>
        <br />
        <h3>1. Diverse Exam Categories:</h3>
        <br />
        <p>
          Our exams cover a wide array of topics, including HTML, CSS,
          JavaScript, front-end frameworks (such as React, Angular, and Vue),
          back-end development (Node.js, PHP, Python, Ruby), database
          management, and more. Whether you're a beginner or an experienced
          developer, we have the right exam for you.
        </p>
        <br />
        <h3>2. Expertly Crafted Questions</h3>
        <br />
        <p>
          Each exam is meticulously designed by industry experts to test your
          knowledge and problem-solving abilities. Our questions reflect current
          industry standards and practices, providing you with an accurate
          measure of your skills.
        </p>
        <br />
        <h3>3.Immediate Feedback:</h3>
        <br />
        <p>
          Receive instant feedback on your performance with detailed
          explanations for each question. This helps you understand your
          mistakes and learn from them, ensuring continuous improvement.
        </p>
        <br />
        <h3>4. Certification:</h3>
        <br />
        <p>
          Earn certificates upon successful completion of our exams. These
          certifications can be showcased on your resume, LinkedIn profile, or
          portfolio, demonstrating your expertise to potential employers and
          clients.
        </p>
        <br />
        <h3>5. User Friendly Interface:</h3>
        <br />
        <p>
          Our platform is designed to be intuitive and easy to use, allowing you
          to focus on what matters most—your learning. Navigate through exams
          seamlessly and track your progress with ease.
        </p>
      </div>
      <div class="footer">
        <a href="../views/admin.html" class="student-link">Logout</a>
        <div class="footer-msg">
          <br />
          <p>
            Copyright &copy; 2024 | Designed & Developed by Abhinandan Mukherjee
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
