<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Subject</title>
    <link rel="stylesheet" href="../styles/addsub.css" />
    <link rel="icon" href="../assets/Exam-PNG-File.png" type="image/x-icon" />
  </head>
  <body>
    <div class="main-container">
      <!-- <img src="admin_bg.jpg" loading="lazy" alt="" class="admin-img" /> -->

      <h1 class="heading">
        <a href="../views/home.html" style="color: black">Online Exam</a>
      </h1>
      <nav class="navbar">
        <a href="../views/home.html" class="nav-tags">Home</a>
        <a href="../views/addsub.html" class="nav-tags">Add Sub</a>
        <a href="../views/addques.html" class="nav-tags">Add Ques</a>
        <a href="../views/viewques.html" class="nav-tags">View Ques</a>
        <a href="../views/addstudent.html" class="nav-tags">Add Studs</a>
        <a href="../views/exam.html" class="nav-tags">Exam Settings</a>
        <a href="../views/home.html" class="nav-tags">Logout</a>
        <a href="../views/home.html" class="nav-tags">About Us</a>
      </nav>

      <div class="admin-login sub">
        <h1 class="login-heading">Add subject</h1>
        <div class="add-sub">
          <table class="table sub-table" ;>
            <tr>
              <td class="sub-name">Subject Name</td>
              <td><input type="text" id="subjectName" /></td>
            </tr>
            <tr>
              <td></td>
              <td><button>Add</button></td>
            </tr>
          </table>
        </div>
        <table class="table add-sub-table">
          <thead>
            <tr>
              <th scope="col">Sl.No.</th>
              <th scope="col">Subject Id</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Python</td>
              <td><a href="#">Delete</a></td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>JavaScript</td>
              <td><a href="#">Delete</a></td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Angular JS</td>
              <td><a href="#">Delete</a></td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td>MERN</td>
              <td><a href="#">Delete</a></td>
            </tr>
            <tr>
              <th scope="row">5</th>
              <td>MEAN</td>
              <td><a href="#">Delete</a></td>
            </tr>
            <tr>
              <th scope="row">6</th>
              <td>React</td>
              <td><a href="#">Delete</a></td>
            </tr>
            <tr>
              <th scope="row">7</th>
              <td>dsa</td>
              <td><a href="#">Delete</a></td>
            </tr>
            <tr>
              <th scope="row">8</th>
              <td>php</td>
              <td><a href="#">Delete</a></td>
            </tr>
            <tr>
              <th scope="row">9</th>
              <td>java</td>
              <td><a href="#">Delete</a></td>
            </tr>
            <tr>
              <th scope="row">10</th>
              <td>PHP</td>
              <td><a href="#">Delete</a></td>
            </tr>
            <tr>
              <th scope="row">11</th>
              <td>mongodbms</td>
              <td><a href="#">Delete</a></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="footer">
        <a href="../views/admin.html" class="student-link">Logout</a>
        <div class="footer-msg">
          <br />
          <p>
            Copyright &copy; 2024 | Designed & Developed by Abhinandan Mukherjee
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
