<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Exam Details</title>
    <link rel="stylesheet" href="../styles/exam.css" />
    <link rel="icon" href="../assets/Exam-PNG-File.png" type="image/x-icon" />
  </head>
  <body>
    <div class="main-container">
      <!-- <img src="admin_bg.jpg" loading="lazy" alt="" class="admin-img" /> -->

      <h1 class="heading"><a href="../views/home.html" style="color: black;">Online Exam</a></h1>
      <nav class="navbar">
        <a href="../views/home.html" class="nav-tags">Home</a>
        <a href="../views/addsub.html" class="nav-tags">Add Sub</a>
        <a href="../views/addques.html" class="nav-tags">Add Ques</a>
        <a href="../views/viewques.html" class="nav-tags">View Ques</a>
        <a href="../views/addstudent.html" class="nav-tags">Add Studs</a>
        <a href="../views/exam.html" class="nav-tags">Exam Settings</a>
        <a href="../views/home.html" class="nav-tags">Logout</a>
        <a href="../views/home.html" class="nav-tags">About Us</a>
      </nav>

      <div class="admin-login">
        <h2 class="login-heading">Exam Details</h2>
        <table class="table">
          <tr>
            <td class="sub-name">Subject Name</td>
            <td>
              <select id="lang" class="lang">
                <option value="Python">Python</option>
                <option value="JavaScript">JavaScript</option>
                <option value="Angular JS">Angular JS</option>
                <option value="MERN">MERN</option>
                <option value="MEAN">MEAN</option>
                <option value="React">React</option>
                <option value="dsa">dsa</option>
                <option value="php">php</option>
                <option value="java">java</option>
                <option value="PHP">PHP</option>
                <option value="mongodbms">mongodbms</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>Exam Date</td>
            <td><input type="text" id="ques" /></td>
          </tr>
          <tr>
            <td>Duration</td>
            <td><input type="text" id="option" class="option-input" /></td>
          </tr>
          <tr>
            <td>No. of Questions</td>
            <td><input type="text" id="option" class="option-input" /></td>
          </tr>
          <tr>
            <td>Admin</td>
            <td><input type="text" id="option" class="option-input" /></td>
          </tr>
          <tr>
            <td>Password</td>
            <td><input type="password" id="option" class="option-input" /></td>
          </tr>
          <tr>
            <td>Retype Password</td>
            <td><input type="password" id="option" class="option-input" /></td>
          </tr>

          <tr>
            <td></td>
            <td><button onclick="login()">Add Exam</button></td>
          </tr>
        </table>
      </div>
      <table border="1px" class="ques-table">
        <tr>
          <th>Exam Id</th>
          <th>Exam Date</th>
          <th>Subject</th>
          <th>Duration</th>
          <th>No. of Questions</th>
        </tr>
        <tr>
          <td>.</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>.</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table>
      <div class="footer">
        <a href="../views/admin.html" class="student-link">Logout</a>
        <div class="footer-msg">
          <br />
          <p>
            Copyright &copy; 2024 | Designed & Developed by Abhinandan Mukherjee
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
