<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="../styles/admin.css" />
    <link rel="icon" href="../assets/Exam-PNG-File.png" type="image/x-icon" />
  </head>
  <body>
    <div class="main-container">
      <!-- <img src="admin_bg.jpg" loading="lazy" alt="" class="admin-img" /> -->

      <h1 class="heading">Online Exam</h1>
      <nav class="navbar">
        <a href="#" class="nav-tags">Home</a>
        <a href="#" class="nav-tags">Add Sub</a>
        <a href="#" class="nav-tags">Add Ques</a>
        <a href="#" class="nav-tags">View Ques</a>
        <a href="#" class="nav-tags">Add Studs</a>
        <a href="#" class="nav-tags">Exam Settings</a>
        <a href="#" class="nav-tags">Logout</a>
        <a href="#" class="nav-tags">About Us</a>
      </nav>

      <div class="admin-login home">
        <h1>Welcome Admin</h1>
      </div>
      <div class="footer">
        <a href="../views/admin.html" class="student-link">Logout</a>
        <div class="footer-msg">
          <br />
          <p>
            Copyright &copy; 2024 | Designed & Developed by Abhinandan Mukherjee
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
