<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Questions</title>
    <link rel="stylesheet" href="../styles/viewques.css" />
    <link rel="icon" href="../assets/Exam-PNG-File.png" type="image/x-icon" />
  </head>
  <body onload="getAllSubjects()">
    <div class="main-container">
      <!-- <img src="admin_bg.jpg" loading="lazy" alt="" class="admin-img" /> -->
      <h1>
        <a
          href="../views/home.html"
          style="
            color: black;
            text-decoration: none;
            margin-top: 10px;
            position: absolute;
          "
        >
          <i class="fa-brands fa-studiovinari" style="color: white"></i>
          DevTestHub</a
        >
      </h1>
      <h1 class="heading">
        <a href="../views/home.html" style="color: black">Online Exam</a>
      </h1>
      <nav class="navbar">
        <a href="../views/home.html" class="nav-tags">Home</a>
        <a href="../views/addsub.html" class="nav-tags">Add Sub</a>
        <a href="../views/addques.html" class="nav-tags">Add Ques</a>
        <a href="../views/questions.html" class="nav-tags">View Ques</a>
        <a href="../views/addstudent.html" class="nav-tags">Add Studs</a>
        <a href="../views/exam.html" class="nav-tags">Exam Settings</a>
        <a href="../views/home.html" class="nav-tags">Logout</a>
        <a href="../views/aboutUS.html" class="nav-tags">About Us</a>
      </nav>

      <div class="admin-login sub">
        <h1 class="login-heading">Choose Subject</h1>
        <div class="add-sub">
          <table class="table sub-table" ;>
            <tr>
              <td class="sub-name">Subject Name</td>
              <td>
                <select id="subjects" class="lang"></select>
              </td>
            </tr>
            <tr>
              <td></td>
              <td><button onclick="searchQuestion()">Search</button></td>
            </tr>
          </table>
        </div>
      </div>
      <div class="ques-div">
        <table border="1px" class="ques-table" id="questionTable">
          <thead>
            <tr>
              <th>Question Id</th>
              <th>Question</th>
              <th>Option 1</th>
              <th>Option 2</th>
              <th>Option 3</th>
              <th>Option 4</th>
              <th>Answer</th>
              <th colspan="2">Action</th>
            </tr>
          </thead>
          <tbody id="questionTableBody"></tbody>
        </table>
      </div>

      <div class="footer">
        <a href="../views/admin.html" class="student-link">Logout</a>
        <div class="footer-msg">
          <br />
          <p>
            Copyright &copy; 2024 | Designed & Developed by Abhinandan Mukherjee
          </p>
        </div>
      </div>
    </div>

    <script src="../scripts/addQues.js"></script>
  </body>
</html>
