<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Online Exam</title>
    <link rel="stylesheet" href="../styles/wel-student.css" />
    <link rel="icon" href="../assets/Exam-PNG-File.png" type="image/x-icon" />
  </head>
  <body>
    <div class="main-container">
      <h1>
        <a
          href="../views/home.html"
          style="
            color: black;
            text-decoration: none;
            margin-top: 10px;
            position: absolute;
          "
        >
          <i class="fa-brands fa-studiovinari" style="color: white"></i>
          DevTestHub</a
        >
      </h1>
      <h1 class="heading">
        <a href="../views/home.html" style="color: black">Online Exam</a>
      </h1>
      <nav class="navbar">
        <p class="nav-tags">About Us</p>
      </nav>

      <h2 class="login-heading">Welcome Student</h2>

      <div class="admin-login">
        <h2 class="login-heading">Instructions</h2>
        <div class="tablebox">
          <table class="table">
            <tr>
              <td>1. All Questions are Mandatory</td>
            </tr>
            <tr>
              <td>2. Each Question carries 1 mark</td>
            </tr>
            <tr>
              <td>3. Total Exam Time is 15 minutes</td>
            </tr>
            <tr>
              <td>4. Each Question Carries 1 Mark</td>
            </tr>
            <tr>
              <td>5. There is no negative marking</td>
            </tr>
            <tr>
              <td><button onclick="start()">Start Exam</button></td>
            </tr>
          </table>
        </div>
      </div>
      <div class="footer">
        <a href="../views/student.html" class="student-link">Student</a>
        <div class="footer-msg">
          <br />
          <p>
            Copyright &copy; 2024 | Designed & Developed by Abhinandan Mukherjee
          </p>
        </div>
      </div>
    </div>

    <script src="../scripts/stuExm.js"></script>
  </body>
</html>
