* {
    margin: 0;
    padding: 0;
  }
  
  body {
    background-image: url(../assets/admin_bg.jpg);
    /* background-size: contain; */
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  
  .heading {
    color: black;
    font-size: 50px;
    text-decoration: underline;
    text-align: center;
  }
  .navbar {
    display: flex;
    background-color: rgb(234, 100, 122);
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    margin-top: 50px;
    height: 35px;
  }
  
  .nav-tags {
    margin: 0 20px;
    cursor: pointer;
    font-size: larger;
    color: black;
    text-decoration: none;
    padding: 5px;
  }
  
  .nav-tags:hover {
    color: white;
  }
  
  .admin-login {
    width: 50%;
    height: 400px;
    margin: 50px auto;
    text-align: center;
    backdrop-filter: blur(20px) saturate(190%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.427);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
  }
  
  .admin-login h2 {
    text-decoration: underline;
    font-size: 40px;
  }
  
 
  
  .login-heading {
    text-align: center;
    padding-top: 20px;
    font-size: 40px;
    text-decoration: underline;
  }


   .table{
    display: flex;
    justify-content: center;
    align-items: center;
  
   }

   .table td{
    font-size: larger;
    font-weight: 700;
    padding: 10px;
   }

   .table td button {
    width: 100px;
    height: 30px;
    background-color: rgb(234, 100, 122);
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
  }

  

  .footer {
    height: 60px;
    backdrop-filter: blur(20px) saturate(190%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.427);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
  }
  .footer-msg {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 5px;
  }
  .student-link {
    margin-left: 650px;
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
    text-decoration: none;
    font-size: 25px;
  }
  